# Generic
setuptools==78.1.1

# API
requests>=2.26
requests
urlib3

# JDBC
psycopg2-binary>=2.9

# ODBC
jaydebeapi
pyodbc

# Databricks
databricks

# sharepoint
Office365-REST-Python-Client 
requests_ntlm
msal==1.28.0
pytz==2021.1
typing_extensions>=4.0.0
